extends ../layout/index
block content
  main.container.mt-5
  .row
    .col-md-5
      img.img-fluid(src='img/nosotros.jpg', alt='sobre nosotros')
    .col-md-7
      h1 #{page}
      blockquote Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
      p It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has
      p a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum
  .listado.iconos
    .container.mt-5.py-5.text-center
      .row
        .col-md-4
          img(src="img/icono_seguridad.svg", alt="Icono seguridad", class="img-fluid mb-4" )
          h2.mb-4 Máxima seguridad
          p a more-or-less normal distribution of letters, as opposed to using
        .col-md-4
          img(src="img/icono_destinos.svg", alt="Icono seguridad", class="img-fluid mb-4" )
          h2.mb-4 Mejores Destinos
          p a more-or-less normal distribution of letters, as opposed to using
        .col-md-4
          img(src="img/icono_precios.svg", alt="Icono seguridad", class="img-fluid mb-4" )
          h2.mb-4 Mejores precio
          p a more-or-less normal distribution of letters, as opposed to using